*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header{
    position: absolute;
    z-index:3 ;
    width: 100%;
}
header .navbar i{
    color: #35a22c;
    font-size: 45px;
}
header .nav-item .nav-link{
    color: white;
    position: relative;
    margin: 0 20px;
}
header .nav-link:hover{
    color: green;
    transition: 1s;
}
header .nav-link::after{
    position: absolute;
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 0;
    transition: 0.5s;
    content: "";
    background-color:  #35a22c;
}
header .nav-item.active .nav-link::after{
    width: 100%;
}
header .nav-link:hover::after{
    width: 100%;
}



/* carousel */
#portfolio__carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#portfolio__carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
#portfolio__carousel .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#portfolio__carousel .carousel-item{
    position: relative; 
    height: 100vh;
}
#portfolio__carousel .carousel-indicators{
    bottom: 10%;
}

#portfolio__carousel .carousel-inner::after{
    background-color: rgb(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    width: 100%;   
    height: 100%;
    top: 0;
    left: 0;
    content: "";
}
#portfolio__carousel .carousel-indicators .active{
    background-color: green;
}


            /* Project */
#portfolio__project .project__content .nav{
    justify-content: center;
}

#portfolio__project .nav-pills .nav-link.active{
    background: rgb(0, 128, 0);
}

#portfolio__project .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    justify-content: center;
    background-color: #35a22c;
    border-color: #35a22c;
}
/*  card */
#portfolio__project .project_item .card{
    border-radius: 16px; 
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid transparent ;
}

#portfolio__project .card .card-body{
    border: 1px solid transparent;
}
#portfolio__project .card:hover .card-body{
    border: 1px solid #35a22c;
}

/* Feature */
.feature{
    background: url(./image/3.jpg) no-repeat center;
    overflow: scroll;
    background-size: auto;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.feature .overlay{
    background: rgba(7,10,12,.50);
}
.feature .heading{
    position: relative;
}
.feature__item{
    padding: 40px 40px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 10px;
    text-align: center;
}
.feature__item:hover{
    background-color: rgb(0, 0, 0 ,1);
}
.feature__item i {
    font-size: 48px;
    color: #35a22c;
}
.feature h4{
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 700;
}
.feature p{
    color: white;
    font-size: 15px;
    padding-top: 15px;
    line-height: 24px;
}
.mb-md-0, .my-md-0{
    text-align: center;
}

.award{
    position: relative;
    padding: 70px 0px;
}
.award .awrard__content{
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 53% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: 3;
}
.row{
    display: flex;
    justify-content: space-around;
}
.container__bg{
    max-width: 1140px;
}
.card1 .card__left{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 40px;
}
.container__bg{
    max-width: 1140px;
    margin: 0 350px;
}
.card1{
    padding-bottom: 50px;
   
}
.card__left{
    border: none;
}
.card2{
    max-width: 58.333333%;
    padding-top: 50px;
}
.icon{
    display: flex;
}
.icon .icon__img{
    padding-bottom: 50px;
    width: 130%;
    height: 110%;
}
.icon .icon__img .img-fluid{
    max-width: 100%;
    height: auto;
}
/* Footer */
.footer{
    padding-bottom: 3rem;
    background: #222;
}
.footer__item .main i{
    color: rgb(179, 176, 176);
    font-size: 10px;
}
.footer .main{
    text-align: center;
    padding-top: 40px;
}
.footer__item .main i{
   width: 30px;
   height: 30px;
   border: 0.5px solid  #454545;
   border-radius: 50%;
   line-height: 30px;
   margin-right: 10px;
}
.footer__item .main i:hover{
    color: #35a22c;
    border-color: #35a22c;
}

.footer__item .end{
    color: #959090;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #959090  ;
}